@font-face {
    font-family: "open sans";
    font-style: normal;
    font-weight: 400;
    src: url(/fonts/OpenSans-Regular.woff2) format(woff2),
    url(/fonts/OpenSans-Regular.woff) format(woff);
}

@font-face {
    font-family: "open sans";
    font-style: normal;
    font-weight: 700;
    src: url(/fonts/OpenSans-Bold.woff) format(woff),
    url(/fonts/OpenSans-Bold.woff2) format(woff2);
}

.page {
    width: 100%;
}

.page-body {
    min-height: 100%;
    font-family: "open sans", sans-serif;
    font-size: 20px;
    margin: 0;
    color: #000;
    line-height: 1.4;
}

.page-header {
   padding: 20px 0;
}

.navbar-list {
   display: flex;
   align-items: center;
   list-style: none;
   flex-wrap: wrap;
   margin: 0;
   padding: 0;  
 }
 .navbar-link {
   text-decoration: none;
   color: #000;
   margin-right: 50px;
   font-size: 20px;
 }

 .navbar-link:hover {
   opacity: 0.5;
 }
 .navbar-conteiner {
    width: 1200px;
    margin: 0 auto;
    padding: 0 50px;
    box-sizing: border-box;
}

.page-main-column {
   background-color: #fff;
}

.intro-section {
    min-height: 610px;
    background-image: url(/images/intro.png);
    background-size: cover;
    background-position: center;
    background-color: #242424;
    padding-top: 180px;
    padding-bottom: 120px;
    color: #fff;
    box-sizing: border-box;
 }

.intro-container {
   overflow: hidden;
   width: 1200px;
   margin: 0 auto;
   padding: 0 50px;
   box-sizing: border-box;
   padding-right: 550px;
}
 
 .intro-text p {
    margin: 0;
 }
 .intro-text p:not(:last-child) {
    margin-bottom: 20px;
 }
 .intro-title {
    margin: 0;
    margin-bottom: 30px;
    font-size: 50px;
    font-weight: bold;
    text-shadow: 2px 2px 4px #000;
}

.main {
   background-image: linear-gradient(90deg, #fff 50%, #242424 50%);
   
}

.container-main {
    
    display: flex;
    overflow: hidden;
    width: 1200px;
    margin: 0 auto;
    padding: 0 50px;
    box-sizing: border-box;
}



.page-section {
    position: relative;
 }
 .page-header {
    padding: 20px 0;
}

.page-section-program {
   padding: 40px 80px 40px 0;
   position: relative;
}

.program-subtitle {
    font-size: 24px;
    margin: 0;
    margin-bottom: 20px;
 }

 .program-img-container {
    width: 100%;
    height: 320px;
    border-radius: 20px;
    overflow: hidden;
 }

 .programm-row {
   display: grid;
   grid-template-columns: 440px 1fr;
   gap: 40px;
   margin-top: 30px;
 }

 .program-img {
   display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
 }
 .program-text p {
    margin: 0;
 }
 .program-text p:not(:last-child) {
    margin-bottom: 10px;
 }
 .program-list {
    margin: 0;
 } 
 .program-list li:not(:last-child) {
    margin-bottom: 10px;
}

.auditory-img-container {
    height: 160px;
    overflow: hidden; 
 }

 .auditory {
   position: relative;
   padding: 40px 80px 40px 0;
}

.auditory::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 9999px;
    background-color: #f2f2f2;
   
  
 }

 .auditory-top {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
 }

 .auditory-img {
   display: block;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
 }
 .auditory-bottom {
    margin-top: 30px;
 }
 .auditory-list {
    margin: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 5px;
    column-gap: 20px;
}

.price-title, .dop-title, .auditory-title, .program-title, .reviewes-title {
    margin: 0;
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: 700;
}

.prices-table {
    width: 100%;
    margin-top: 30px;
    border-collapse: collapse;
 }
 .price-text {
    margin: 0;
 }
 .price-text p:not(:last-child) {
    margin-bottom: 10px;
 }
 .prices-table th {
    padding: 20px;
    font-weight: 700;
    color: #fff;
    text-align: left;
 }
 .prices-table:nth-child(odd) {
   background-color: #f2f2f2f2;
 }
 .prices-table td {
    padding: 20px;
    font-size: 16px;
 }

 .prices-table th:first-child,
 .prices-table td:first-child {
    border-radius: 15px 0 0 15px;
 }

 .prices-table th:last-child,
 .prices-table td:last-child {
    border-radius: 0 15px 15px 0;
 }

 .price-camption {
    margin-top: 10px;
    font-size: 14px;
    color: #9d9d9d;
}

.dop {
    position: relative;
    z-index: 1;
 }
 .dop-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
 }
 .dop label {
    font-size: 16px;
 }
 #total-price {
    margin-top: auto;
    padding: 20px;
    border-radius: 15px;
    background-color: #242424;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    white-space: nowrap;
 }
 .dop-text p {
    margin: 0;
 }
 .dop-text p:not(:last-child) {
    margin-bottom: 10px;
 }
 .dop-section {
    content: "";
    /* position: absolute; */
    top: 0;
    right: 0;
    bottom: 0;
    /* width: 9999px; */
}

.review {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    grid-template-columns: 150px 1fr;
    gap: 40px;
    padding: 20px 80px 20px 40px;
    border-radius: 20px;
    background-color: #f8f8f8;
 }
 .reviewes-title {
   display: grid; 
   grid-template-columns: 150px 1fr; 
   gap: 40px; 
   padding: 20px 80px 20px 40px; 
   border-radius: 20px; 
 }
 .review:not(:last-child) {
    margin-bottom: 20px;
 }
 .review-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
 }
 .review-text {
    font-size: 16px;
    
 }
 .review-text p {
    margin: 0;
 }
 .review-text p:not(:last-child) {
    margin-bottom: 10px;
}

.contact-conect {
   padding: 20px 280px 20px 40px;
    border-radius: 20px;
    background-color: #f8f8f8;
 }
 .contact-text {
    font-size: 16px; 
 }
 .contact-text p {
    margin: 0;
 }
 .contact-text p:not(:last-child) {
    margin-bottom: 10px;
 }
 .contact-form-bottom {
    margin-top: 30px;
}

.sidebar {
   padding: 40px 0 40px 20px;
   background-color: #242424;
   color: #fff;
}
.sidebar-title {
   margin: 0;
   margin-bottom: 20px;
   font-size: 30px;
   font-weight: 700;
}
.sidebar-list {
   margin: 0;
   padding: 0;
   list-style-type: none;
}

.sidebar li:not(:last-child) {
  margin-bottom: 40px;
}

.card-image-link {
    width: 100%;
    height: 160px;
    overflow: hidden;
    text-decoration: none;
    
 }

 .card-image-link:hover {
    opacity: 0.5;
 }

 .card-image {
    width: 240px;
    height: 160px;
    object-fit: cover;
    display: block;
    border-radius: 20px;
 }
.card-image-title {
    margin: 0;
    padding: 10px;
    font-size: 16px;
    font-weight: 400;
}
 .card-image-title a {
    color: inherit;
    text-decoration: none;
 }

 .card-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.autor-box {
    margin-top: 40px;
}

.autor {
    padding: 20px 40px;
    padding-right: 80px;
    border-radius: 15px;
    position: relative;
    justify-content: space-between;
    display: flex;
    font-size: 40px;
    font-weight: 700;
    background-color: #242424;
    color: #fff;
    text-decoration: none;
 }

 .autor::after {
    content: "";
    position: absolute;
    top: 30px;
    right: 40px;
    background-image: url(/images/telegram.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
 }

 .autor:hover {
    color: rgba(255, 255, 255, 0.5);
}



.footer {
    padding: 30px 0;
    background-color: #242424;
    color: #fff;
}
.footer p {
    padding-right: 390px;
}